body{
    color: brown;
    background: url(https://image.freepik.com/vector-gratis/fondo-plano-dia-san-valentin_23-2148400023.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
    font-size: 20px;
    font-family: Dancing Script;
    font-weight: bold;
}
#titulo{
    padding: 60px 0 0 0;
    color: black;
    font-size: 40px;
    width: 100%;
    font-weight: bold;
}
#decision{
    width: 50%;
    height: 65%;
    padding: 25px 50px 50px 50px;
    background: rgba(248, 247, 247, 0.5);
    align-content: center;
    text-align: center;
    margin:50px auto;
    border-radius: 20px;
    border: 2px solid black;
}
.indexco{
    float: left;
    width: 25%;
    height: 10%;
    display: block;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
}
.indexde{
    float: right;
    width: 25%;
    height: 10%;
    display: block;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
}
.inicio{
    float: center;
    width: 10%;
    height: 5%;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
}
 .ocultar{
    display: none;
 }
 #todo1{
    width: 50%;
    height: 65%;
    padding: 25px 50px 50px 50px;
    background: rgba(248, 247, 247, 0.5);
    align-content: center;
    text-align: left;
    margin:50px auto;
    border-radius: 20px;
    border: 2px solid black;
}
#todo2{
    width: 50%;
    height: 65%;
    padding: 25px 50px 50px 50px;
    background: rgba(248, 247, 247, 0.5);
    align-content: center;
    text-align: left;
    margin:45px auto;
    border-radius: 20px;
    border: 2px solid black;

}
.mensajes{
    width: 70%;
    height: 100px;
}
.mensajes1{
    width: 70%;
    height: 50px;
}