body{
    color: violet;
    background: url(https://image.freepik.com/vector-gratis/fondo-plano-dia-san-valentin_23-2148400023.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
    font-family: Georgia;
}
#titulo{
    padding: 35px 0 0 0;
    border: black 10px;
    color: black;
    font-size: 30px;
}
#todo{
    width: 100%;
}
#decision{
    width: 50%;
    height: 65%;
    padding: 25px 50px 50px 50px;
    background: rgba(248, 247, 247, 0.5);
    align-content: center;
    text-align: center;
    margin:100px auto;
    border-radius: 20px;
    border: 2px solid black;
}
.indexco{
    float: left;
    width: 20%;
    height: 10%;
    display: block;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
}
.indexde{
    float: right;
    width: 20%;
    height: 10%;
    display: block;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
}
.inicio{
    float: center;
    width: 8%;
    height: 5%;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid black;
}
#botones{
    width: 50%;
    float: left;
    display: block;
}
 .ocultar{
    display: none;
 }
 #todo1{
    width: 50%;
    height: 65%;
    padding: 50px;
    background: rgba(248, 247, 247, 0.5);
    align-content: center;
    text-align: center;
    margin:100px auto;
    border-radius: 20px;
    border: 2px solid black;

}
#todo2{
    width: 50%;
    height: 65%;
    padding: 50px;
    background: rgba(248, 247, 247, 0.5);
    align-content: center;
    text-align: center;
    margin:100px auto;
    border-radius: 20px;
    border: 2px solid black;

}
